@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* 1 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";	
}

html{
	scroll-behavior: smooth;
	scroll-padding: 10rem;
}

body{
	background-color: rgb(255, 255, 240);
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    padding: 60px 4%; /* Reduzindo o padding para manter a altura */
    transition: all .3s ease;
}



nav.roll {
    background-color: rgba(64, 64, 64, 1);
    padding: 10px 2%;
}

nav ul{
	display: flex;
	align-items: center;
	
}

nav li{
	list-style-type: none;
	padding: 1rem;
	font-size: 20px;
}

.navbar-toggle{
	color: #eef9ff;
	font-size: 32px;
	display: none;
	transition: all 0.3s ease;
}

.navbar-toggle:hover{
	color: rgb(255, 102, 0);
	font-size: 36px;
}



#logo {
    margin-left: 40px;
    margin-right: auto; /* Margem à direita para manter a logo à esquerda */
    display: inline-block;
    cursor: pointer;
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 102, 0); /* Cor da logo */
    transition: all 0.3s ease;
    vertical-align: middle; /* Alinhamento vertical com os itens do content-header */
}

#logo:hover {
    color: #eef9ff; /* Cor ao passar o mouse */
}

#logo-s {
    color: #eef9ff; /* Cor do texto complementar */
    margin-left: 5px;
    transition: all 0.3s ease;
}

#logo:hover #logo-s {
    color: rgb(255, 102, 0); /* Cor do texto complementar ao passar o mouse */
}

.content-header {
    margin-right: 40px; /* Espaço entre o conteúdo e o logo */
}


.content-header a {
    /* Mantém a formatação original */
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    position: relative;
    padding: 0.2rem;
    margin-left: 20px; /* Espaço entre os itens */
    margin-right: 20px; /* Espaço entre os itens */
}


.act {
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 6px 15px;
    display: inline-flex; /* Para alinhar o ícone e o texto horizontalmente */
    align-items: center; /* Para alinhar verticalmente ao centro */
}

.act i {
	padding: 5px 0;
	font-size: 24px;
    margin: 0 0 0 8px; /* Espaçamento entre o ícone e o texto */
	
}

#userName{
	font-size: 24px;
	font-weight: 700;
	margin: 0 8px;
}

.ch::after {
    /* Mantém a formatação original */
    content: " ";
    width: 0%;
    height: 2px;
    background-color: rgb(255, 102, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
}

.content-header a:hover {
    /* Mantém a formatação original */
    color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
}

.ch:hover::after {
    /* Mantém a formatação original */
    width: 100%;
    color: rgb(255, 102, 0);
    border-color: rgb(255, 102, 0);
}

.no{
	display: none;
}

.cart-icon {
    position: relative;
    display: inline-block;
	font-size:24px;
	color: white;
	transition: all .3s ease;
}

.cart-icon:hover .fa-shopping-cart{
	color: rgb(255, 102, 0);
}

.quantity {
    background-color: rgb(255, 102, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -10px;
    right: -15px;
    padding: 3px 10px;
    font-size: 14px;
    font-weight: bold;
	transition: all .3s ease;
}

.cart-icon:hover .quantity{
	color: rgb(255, 102, 0);
	background-color: white;
}

.cart-card {
    display: none; /* Escondido por padrão */
    position: fixed;
    right: 0;
    top: 0;
    width: 400px;
    height: 100%;
    background-color: rgb(64, 64, 64);
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.cart-card .inner {
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
}

.cart-card h2 {
	color: rgb(255, 102, 0);
    margin-bottom: 20px;
    font-size: 24px;
}

.cart-item {
    color: #fff; /* Cor do texto em branco */
    margin-bottom: 10px; /* Espaçamento entre os itens */
}

.cart-item span {
    margin-bottom: 5px; /* Adicionando margem inferior ao texto do produto */
}

.cart-item-buttons {
    display: flex;
	align-items: center;
     /* Distribui o espaço entre os botões */
}

.cart-item-buttons button {
	padding: 1px 7px;
	margin: 5px;
    font-size: 20px; /* Tamanho da fonte dos botões */
	font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 100%; /* Arredondar cantos dos botões */
    background-color: rgb(255, 102, 0); /* Cor do botão de adicionar */
    color: #FFFFFF; /* Cor do texto do botão */
    transition: all .3s ease;
}

.cart-item-buttons button:hover {
    background-color: white; /* Cor do botão ao passar o mouse */
    color: rgb(255, 102, 0);
}

.cart-buttons {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-buttons button {
    width: 50%;
    padding: 10px 0;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

#close-cart{
    background-color: rgb(255, 102, 0);
    color: white;
	transition: all .3s ease;
}

#total-price{
	background-color: white;
	color: rgb(255, 102, 0);
	transition: all .3s ease;
}

#close-cart:hover{
    background-color: white;
    color: rgb(255, 102, 0);
}

#total-price:hover{
	background-color: rgb(255, 102, 0);
    color: white;
}



/* /1 */

/* 2 */
.slider{
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgba(105, 42, 0, 1);
}
.myslide{
	height: 100vh;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
	transition: all 0.3s ease;
}
.prev:hover, .next:hover{
	font-size: 70px;
	color: rgb(255, 102, 0);
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	width: 20px;
	height: 20px;
	border-color: rgb(255, 102, 0);
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #dadada;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: rgb(255, 102, 0); /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.myslide img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 200px 200px;
}

@keyframes float {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-20px); /* Ajuste a quantidade de movimento para cima */
    }
    100% {
        transform: translateY(10px);
    }
}

.container img {
    width: 60%;
    height: 600px;
    animation: float 3s ease-in-out infinite; /* Ajuste a duração da animação conforme necessário */
}


.about{
	padding: 100px;
}

.about h2{
	font-size: 80px;
	color: rgb(255, 102, 0); 
	padding-bottom: 25px;
}

.about strong{
	color: rgb(255, 102, 0);
}

.about h4{
	font-size: 25px;
	color: rgb(64, 64, 64);
	font-weight: 600;
}

.btn{
	border: 2px solid rgb(255, 102, 0);
	background: none;
	padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

.btn a{
	color: rgb(255, 102, 0);
	text-decoration: none;
	font-weight: bold;
	transition: all 0.8s ease;
}

.btn:hover a{
	color: rgb(255, 255, 240);
	
}

.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: rgb(255, 102, 0);
	z-index: -1;
	transition: all 0.8s ease;
}

.btn::before{
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

.btn:hover::before{
	height: 180%;
}

.titulo-produtos{
    margin-top: 250px;
    color: rgb(255, 102, 0);
    font-size: 64px;
    display: flex;
    justify-content: center;
}

.produtos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 5rem;
}

.card{
	cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1.5rem;
    max-width: 450px; /* Ajuste o tamanho conforme necessário */
    background-color: rgb(64, 64, 64);
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.4);
    border-radius: 45px;
    margin-bottom: 3rem;
    text-align: left;
	transition: all .3s ease;
}

.card:hover {
	max-width: 500px;
}

.card img{
    border: 1px solid black;
    max-width: 40%; /* Ajuste a largura conforme necessário */
    margin-right: 1.5rem;
    border-radius: 30px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card h3{
    color: rgb(255, 102, 0);
    margin-bottom: 10px;
    font-size: 24px;
}

.card h5{
    color: #fff;
    margin-bottom: 10px;
    font-size: 12px;
}

.card a{
    background-color: #ff7300;
    padding: 5px 20px;
    border-radius: 30px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    align-self: flex-start; /* Alinha o botão à esquerda */
}

.card a:hover{
    background-color: #fff;
    color: #ff7300;
}

.search-filter {
    display: flex;
    justify-content: center;
    margin: 60px 0;
}
.search-container:hover{
    width: 70%;
    max-width: 700px;
}


.search-container {
    position: relative;
    width: 60%; /* Aumente para 60% ou ajuste conforme necessário */
    max-width: 600px; /* Ajuste conforme necessário */
	transition: all .3s ease;
}

#search-bar {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Adicione padding para o ícone */
    border: 2px solid rgb(255, 102, 0);
    border-radius: 25px;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Para evitar que o ícone bloqueie a interação com a barra de pesquisa */
    color: #888;
}



/* 5 */
/* Estilos para tablets (largura máxima de 800px) */
@media screen and (max-width: 1024px) {
	nav {
		padding: 40px 4%; /* Reduzindo o padding para manter a altura */
		
	}
	nav ul{
		flex-wrap: wrap;
	}

	.navbar-toggle{
		display: block;
	}

	
	.content-header{
		display: none;
		width: 100%;
		text-align: center;
	}

	.activo{
		display: block;
	}

	.fa-shopping-cart{
		display: none;
	}

    .slider {
        height: 50vh; /* Metade da altura original */
    }

    .myslide {
        height: 50vh; /* Metade da altura original */
    }

    .txt {
        letter-spacing: 1px;
        line-height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    @-webkit-keyframes posi2 {
        from { top: 35%; }
        to { top: 50%; }
    }

    @keyframes posi2 {
        from { top: 35%; }
        to { top: 50%; }
    }

    .txt h1 {
        font-size: 40px;
        line-height: 40px;
    }

    .txt p {
        font-size: 16px;
		line-height: 20px;
    }

    .prev, .next {
        font-size: 30px;
    }

    .dotsbox {
        bottom: 10px;
    }

    .dot {
        width: 10px;
        height: 10px;
    }

    .active, .dot:hover {
        width: 15px;
        height: 15px;
    }
	.container{
		margin: 100px 60px;
	}
	
	.container img{
		margin-left: 40px;
		width: 40vw;
		height: 40vh;
	}
	
	.about{
		padding: 0px;
	}
	
	.about h2{
		font-size: 50px;
		padding-bottom: 15px;
	}
	
	.about h4{
		font-size: 20px;
		padding-bottom: 15px;
	}
	
	.btn{
		padding: 10px 20px;
		font-size: 25px;	
	}
	.titulo-produtos{
		margin-top: 120px;
		font-size: 50px
	}
	
	.produtos{
		margin: 0.5rem;
	}

	.card{
		padding: 1rem;
		max-width: 200px; /* Ajuste o tamanho conforme necessário */
		margin-bottom: 1rem;
		flex-direction: column;
	}

	.card:hover{
		max-width: 230px; /* Ajuste o tamanho conforme necessário */
	}
	
	.card img{
		margin: 0;
		max-width: 90%; /* Ajuste a largura conforme necessário */
	}
	
	.card-content{
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.card h3{
		margin: 10px 0;
		font-size: 14px;
	}
	
	.card h5{
		display: none;
	}
	
	.card a{
		background-color: #ff7300;
		padding: 5px 20px;
		border-radius: 30px;
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		transition: all 0.3s ease;
		align-self: center;
	}
	
	.card a:hover{
		background-color: #fff;
		color: #ff7300;
	}
	
	.search-filter {
		display: flex;
		justify-content: center;
		margin: 30px 0;
	}
	.search-container:hover{
		width: 70%;
		max-width: 700px;
	}
	
	
	.search-container {
		position: relative;
		width: 60%; /* Aumente para 60% ou ajuste conforme necessário */
		max-width: 600px; /* Ajuste conforme necessário */
		transition: all .3s ease;
	}
	
}

/* Estilos para celulares (largura máxima de 520px) */
@media screen and (max-width: 520px){
	nav {
		padding: 0px 0%; /* Reduzindo o padding para manter a altura */
		
	}
	nav ul{
		flex-wrap: wrap;
	}

	#logo{
		font: 20px;
		margin-left: 0px;
	}

	.navbar-toggle{
		display: block;
	}

	
	.content-header{
		font-size: 13px;
		display: none;
		width: 100%;
		text-align: center;
	}

	.activo{
		display: block;
	}

	.fa-shopping-cart{
		display: none;
	}

	.act {
		border: 2px solid #fff;
		border-radius: 50px;
		padding: 6px 15px;
		display: inline-flex; /* Para alinhar o ícone e o texto horizontalmente */
		align-items: center; /* Para alinhar verticalmente ao centro */
	}
	
	.act i {
		padding: 2px 0;
		font-size: 16px;
		margin: 0 0 0 4px; /* Espaçamento entre o ícone e o texto */
	}
	
	#userName{
		font-size: 13px;
		font-weight: 700;
		margin: 0 4px;
	}
		
    .slider {
        height: 50vh; /* Metade da altura original */
    }

    .myslide {
        height: 50vh; /* Metade da altura original */
    }

    .txt {
        line-height: 15px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-animation-name: posi2;
        -webkit-animation-duration: 2s;
        animation-name: posi2;
        animation-duration: 2s;
    }

    .txt h1 {
        font-size: 24px;
        line-height: 20px;
    }

    .txt p {
        font-size: 14px;
		line-height: 15px;
    }

    .prev, .next {
        font-size: 25px;
    }

    .dotsbox {
        bottom: 10px;
    }

    .dot {
        width: 8px;
        height: 8px;
    }

    .active, .dot:hover {
        width: 12px;
        height: 12px;
    }
	.container{
		margin: 80px 20px;
	}
	
	.container img{
		margin-left: 10px;
		width: 40vw;
		height: 30vh;
	}
	
	.about{
		padding: 0px;
	}
	
	.about h2{
		font-size: 30px;
		padding-bottom: 5px;
	}
	
	.about h4{
		font-size: 12px;
		padding-bottom: 10px;
	}
	
	.btn{
		padding: 5px 10px;
		font-size: 20px;	
		margin-top: 5px;
	}
	.titulo-produtos{
		margin-top: 120px;
		font-size: 40px;
	}
	
	.produtos{
		margin: 1rem;
	}

	.card{
		padding: 1rem;
		max-width: 180px; /* Ajuste o tamanho conforme necessário */
		border-radius: 45px;
		margin-bottom: 3rem;
	}
	
	.card:hover{
		max-width: 200px;
	}

	.card img{
		max-width: 90%; /* Ajuste a largura conforme necessário */
	}
	
	.card h3{
		margin: 10px 0;
		font-size: 14px;
	}
	
	.card h5{
		color: #fff;
		margin-bottom: 10px;
		font-size: 10px;
	}
	
	.card a{
		font-size: 13px;
		background-color: #ff7300;
		padding: 3px 10px;
		border-radius: 30px;
		color: #fff;
		text-decoration: none;
		font-weight: 600;
		transition: all 0.3s ease;
		align-self: center; /* Alinha o botão à esquerda */
	}
	
	.card a:hover{
		background-color: #fff;
		color: #ff7300;
	}
	
	.search-filter {
		display: flex;
		justify-content: center;
		margin: 30px 0;
	}
	.search-container:hover{
		width: 80%;
		max-width: 700px;
	}
	
	
	.search-container {
		position: relative;
		width: 70%; /* Aumente para 60% ou ajuste conforme necessário */
		max-width: 600px; /* Ajuste conforme necessário */
		transition: all .3s ease;
	}
}
