@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

/* 1 */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat";	
}

html{
	scroll-behavior: smooth;
}

body{
	background-color: rgb(255, 255, 240);
}

header{
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
}
#logo{
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: rgb(255, 102, 0); /* blue */
	transition: all 0.3s ease;
}
#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
	transition: all 0.3s ease;
}

#logo:hover #logo-s{
	color: rgb(255, 102, 0); /* blue */
}
.content-header{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.content-header a{
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	transition: all 0.3s ease;
}
.act{
	border: 2px solid #fff;
	border-radius: 50px;
	padding: 6px 15px;
}
.content-header a:hover{
	color: rgb(255, 102, 0); /* blue */
	border-color: rgb(255, 102, 0); /* blue */
}
/* /1 */

/* 2 */
.slider{
	position: relative;
	width: 100%;
	height: 100vh;
	background: rgba(105, 42, 0, 0.884); /* darckblue */
}
.myslide{
	height: 100vh;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: #fff;
	transition: 0.1s;
	user-select: none;
	transition: all 0.3s ease;
}
.prev:hover, .next:hover{
	color: rgb(255, 102, 0); /* blue */
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.3s ease;
}
/* /2 */

/* javascript */
.active, .dot:hover{
	border-color: rgb(255, 102, 0); /* blue */
}
/* /javascript */

/* muslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /muslide add fade */

/* 3 */
.txt{
	position: absolute;
	color: #fff;
	letter-spacing: 2px;
	line-height: 35px;
	top: 40%;
	left: 15%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 2s;
  	animation-name: posi;
  	animation-duration: 2s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 15%;}
}

.txt h1{
	color: rgb(255, 102, 0); /* blue */
	font-size: 50px;
	margin-bottom: 20px;
}
.txt p{
	font-weight: bold;
	font-size: 20px;
}
/* /3 */

/* 4 */
.myslide img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */

.container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 200px 300px;
}

.container img{
	width: 50%;
	height: 500px;
}

.about{
	padding: 100px;
}

.about h2{
	font-size: 80px;
	color: rgb(255, 102, 0); 
	padding-bottom: 25px;
}

.about strong{
	color: rgb(255, 102, 0);
}

.about h4{
	font-size: 25px;
	color: rgb(64, 64, 64);
	font-weight: 600;
}

.btn{
	border: 2px solid rgb(255, 102, 0);
	background: none;
	padding: 10px 20px;
	font-size: 30px;
	cursor: pointer;
	margin-top: 20px;
	position: relative;
	overflow: hidden;
}

.btn a{
	color: rgb(255, 102, 0);
	text-decoration: none;
	font-weight: bold;
	transition: all 0.8s ease;
}

.btn:hover a{
	color: rgb(255, 255, 240);
	
}

.btn::before{
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background-color: rgb(255, 102, 0);
	z-index: -1;
	transition: all 0.8s ease;
}

.btn::before{
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

.btn:hover::before{
	height: 180%;
}
/* 5 */
@media screen and (max-width: 800px){
	.myslide{
		height: 500px;
	}
	.txt{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.txt h1{
		font-size: 35px;
		line-height: 30px;
	}
	.txt p{
		font-size: 13px;
	}

.container img{
	width: 30%;
	height: 200px;
	}
	.about h2{
	font-size: 25px;
	padding-bottom: 10px;
}
  .about h4{
	font-size: 12px;
}
.about{
	padding: 20px;
}
.container{
	margin: 100px 40px;
}

.btn{
	padding: 5px 10px;
	font-size: 15px;
	margin-top: 10px;
}
.slider{
	width: 100%;
	height: 500px;
}
.content-header{
	margin-right: 20px;
}
.content-header a{
  font-size: 12px;
}
}
/* /5 */

/* 6 */
@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
	
	.container img{
	width: 30%;
	height: 300px;
	}
	
	.about h2{
	font-size: 25px;
	padding-bottom: 10px;
}
  .about h4{
	font-size: 12px;
}
	
}
/* /6 */
















